[Desktop Entry]
Encoding=UTF-8
Name=SkipAdYoutube
Comment=Browse Youtube by Chrome and autoskip advertizement.
Terminal=false
Type=Application
Icon=firefox-esr
StartupNotify=true
X-KeepTerminal=false
